name: Build & Test

env:
  # The name of the main module repository
  main_project_module: app

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Set Repository Name As Env Variable
      - name: Set repository name as env variable
        run: echo "repository_name=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV

      - name: Set Up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Add google-services.json
        id: create-json
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "google-services.json"
          json: ${{ secrets.GOOGLE_SERVICES }}
          dir: "app/"

      # Run Build Project
      - name: Build gradle project
        run: ./gradlew app:assemble

      # Run Tests Build
      - name: Run gradle tests
        run: ./gradlew app:testDebugUnitTest

      # TODO: setup benchmarks
